@model EntityLayer.Concrete.UserRole

@{
    ViewBag.Title = "AddUserRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mx-1" style="width:auto;padding:2rem">
    <h2> Kullanıcı Rolü Güncelleme </h2>
    <hr />
    <br />

    @using (Html.BeginForm("AddUserRole", "UserRole", FormMethod.Post))  //"AddRole" -> üzerinde çalışılan action ismi , "Role" -> üzerinde çalışılan controller ismi ,FormMethod.Post -> butona tıklayıp sayfaya bir post işlemi gönderildiği zaman
    {
        @*@Html.AntiForgeryToken()*@
        <div class="container">
            <div class="form-horizontal">

                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(x => x.UserID)
                    @Html.HiddenFor(x => x.RoleID)*@

                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                <div class="form-group">
                    @Html.Label("Kullanıcı", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.UserID, (List<SelectListItem>)ViewBag.vlu, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.UserID, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*viewbag ile değer(vlc) taşınıyor*@
                <div class="form-group">
                    @Html.Label("Rol ", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.RoleID, (List<SelectListItem>)ViewBag.vlr, new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <br />
    <div>
        <a href="/UserRole/Index" class="btn btn-primary">Listeye Dön</a>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>